body {
    margin: 0;
}

h1 {
    font-family: "Caveat", cursive;
    font-size: 48px;

}
p {
    color:blueviolet;
}

#mi-primer-titulo-secundario {
    color: aquamarine;
}

.mi-titulo {
    color: green;
}

.contenedor {
    background-color: pink;
    margin: 10px 40px; 
    padding: 20px;
    border-radius: 12px;
}